:root {
  --color-1: #f8f0e5;
  --color-2: #eadbc8;
  --color-3: #dac0a3;
  --color-4: #0f2c59;
}

.bg-1 {
  background-color: var(--color-1) !important;
}
.bg-2 {
  background-color: var(--color-2);
}
.bg-3 {
  background-color: var(--color-3);
}
.bg-4 {
  background-color: var(--color-4);
}
.xd {
  background-color: rgb(122, 126, 175);
}
.h-10 {
  height: 10%;
}
.h-80 {
  height: 80%;
}

/* Form CSS */

.flex-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.text-input {
  border-radius: 30px;
}

.form-control:not(active) {
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
}
.form-control:focus {
  /* background-color: var(--color-3); */
  background-color: var(--color-1) !important;
  border: 2px solid var(--color-3) !important;
  box-shadow: 5px 5px var(--color-4) !important; /* blåa ringen runt*/
}

.form-control{
    resize: none !important;
    overflow: hidden;
}
/* ------------------------ */

/* SideMenuBottom CSS */

.person-button{
  width: 80%;
  height: 60px;
  border-radius: 10px !important;
  margin-top: 10px;
  bottom: 13px;
}

.logout-button{
  width: 80% !important;
  height: 60px;
  background-color: var(--color-3) !important;
  border: none !important;
  margin: auto;
  border-top: thin solid black !important;
}

.settings-button{
  z-index: 999;
  margin: auto;
  width: 80% !important;
  height: 60px;
  background-color: var(--color-3) !important;
  border: none !important;
  border-bottom: thin solid black !important;
}

.settings-icon {
  margin-right: 10px;
  margin-bottom: 2px;
}

.logout-icon{
  transform: scaleX(-1);
  margin-right: 10px;
  margin-bottom: 2px;
}

.button-group-user{
  margin-bottom: 10px;
  border-radius: 5px;
}

.user-icon {
  margin-right: 10px;
  margin-bottom: 4px;
}


/* --------------------- */